.button-container {
  display: flex;
  justify-content: center;
}

.button-container__buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  padding: 0;
  background-color: #00acdc;
  border-radius: 5px;
  width: 166px;
  height: 40px;
  border: 1px solid var(--main-background-color);
}

.button-container__buy-button:hover {
  background-color: #fff;
  color: var(--active-hover-color);
}

.button-container__buy-button-link {
  text-decoration: none;
  padding: 12px 69px;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.button-container__buy-button-link:hover {
  color: var(--active-hover-color);
}
