.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--card-inside-width);
  height: 40px;

  border: 1px solid transparent;
  border-radius: 5px;
  background-color: var(--button-color);

  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  border-color: var(--button-color);
  background-color: #fff;
  color: var(--button-color);
}
