.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-blue);
  border-radius: 5px;
  border: 1px solid transparent;
  list-style: none;

  height: 40px;
  width: 166px;

  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  font-weight: 700;
  font-size: var(--font-big);
  line-height: var(--line-middle);
}

.card__buy:hover {
  background-color: #fff;
  color: var(--color-blue);
  border-color: var(--color-blue);
}
