.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 38px;
  background: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  text-align: center;
  margin: 16px;
}

.button__link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700px;
  font-size: 14px;
  line-height: 16px;
}

.button:hover {
  background-color: white;
}

.button:hover .button__link {
  color: #00acdc;
}
