.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  width: 198px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160px 134px;

  width: 160px;
  height: 134px;

  margin: 32px 0 40px;
}

.card__description {
  width: 166px;
  height: 36px;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  margin: 0;
  padding-bottom: 4px;
}

.card__code {
  align-self: start;
  margin: 0;
  padding-left: 16px;

  width: 98px;
  height: 14px;

  color: var(--card-color--text-light);
}

.card__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 166px;
  padding: 16px 0 24px;
}

.card__reviews-text {
  margin: 0;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 166px;
  height: 18px;
  padding-bottom: 16px;
}

.card__price-label {
  font-size: 12px;
  color: var(--card-color--text-light);

  margin: 0;
}

.card__price-price {
  font-weight: 700;
  font-size: 16px;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 164px;
  height: 38px;
  margin-bottom: 16px;

  background-color: var(--card-button-color);
  border: 1px solid var(--card-button-color);
  border-radius: 5px;
}

.card__button-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #fff;

  padding: 10px 55px;
}

.card__button:hover {
  background-color: #fff;
}

.card__button:hover .card__button-link {
  color: var(--card-button-color);
}
