.card {
  width: 200px;

  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  font-family: "Roboto", sans-serif;

  &__photo {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 134px;
  }

  &__name {
    margin-top: 40px;

    @include fontStyle(12px, 18px, 500);
    color: $colorAccent;
  }

  &__code {
    margin-top: 4px;

    @include fontStyle(10px, 14px);
    color: $colorText;
  }

  &__review-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 16px;
  }

  &__reviews {
    @include fontStyle(10px, 14px);
    color: $colorAccent;
  }

  &__price-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 24px;
  }

  &__price-text {
    @include fontStyle(12px, 18px);
    color: $colorText;
  }

  &__price-amount {
    @include fontStyle(16px, 18px, 700);
  }

  &__buy-link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    margin-top: 16px;

    @include fontStyle(14px, 16px, 700);
    text-transform: uppercase;
    color: #fff;

    background-color: $colorPrimary;
    border-radius: 5px;

    &:hover {
      color: $colorPrimary;
      border: 1px solid $colorPrimary;
      background-color: #fff;
    }
  }
}
