.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.card__image {
  margin: auto;
  width: 160px;
  height: 134px;
}

.card__title {
  font-weight: 500;
  margin: 40px 0 0;
  font-size: var(--card-title-font-size);
  line-height: 18px;
  color: #060b35;
}

.card__code {
  font-size: var(--card-secondary-font-size);
  color: var(--secondary-color);
  font-weight: 400;
  margin: 4px 0 0;
  line-height: 14px;
}

.card__stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--card-secondary-font-size);
  line-height: 14px;
  margin-top: 16px;
}

.card__button {
  margin-top: 16px;
}
