.card {
  max-width: var(--card-width);
  max-height: var(--card-height);
  color: var(--cards-main-color);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  padding: 32px 16px 16px;
}

.card__pic {
  width: 160px;
  height: 134px;
  display: block;
  margin: 0 auto 40px;
}

.card__title {
  font-size: var(--font-size);
  font-weight: var(--font-weight-medium);
  line-height: 18px;
  margin: 0 0 4px;
}

.card__id {
  font-size: var(--font-size-code-review);
  font-weight: var(--id-font-weight);
  color: var(--id-price-label-color);
  margin: var(--code-price-margins);
}

.card__review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight-regular);
  margin-bottom: 24px;
}

.card__feedbacks {
  font-size: var(--font-size-code-review);
  font-weight: var(--font-weight-regular);
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin: var(--code-price-margins);
}

.card__button {
  display: block;
  max-width: var(--button-width);
  max-height: var(--button-height);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  text-align: center;
  background-color: var(--main-background-color);
  border: 1px solid var(--main-background-color);
  border-radius: var(--card-border-radius);
  padding: 12px 70px;

  color: var(--color-white);
  transition: 0.3s;
}

.card__button:hover {
  background-color: var(--color-white);
  color: var(--main-background-color);
}
