.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;

  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__imac-image {
  width: 160px;
  height: 134px;

  margin-top: 32px;
}

.card__product-name {
  width: var(--card-inside-width);

  margin: 40px 16px 0;

  color: var(--p-dark-color);
  font-weight: 500;
  line-height: var(--line-height-large);
  /* text-align: justify; */
}

.card__product-code {
  align-self: flex-start;

  margin: 4px 16px 0;

  color: var(--p-light-color);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
