.main-nav {
  display: flex;
}

.main-nav-list {
  display: flex;
  align-self: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav-list > :not(:first-child) {
  margin-left: 20px;
}

.main-nav-item {
  display: list-item;
  align-self: center;
}

.main-nav-item__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  padding: 23px 0;
}

.main-nav-item__link:hover {
  color: #00acdc;
}

.main-nav-item__link.is-active {
  color: #00acdc;
}

.main-nav-item__link.is-active::after {
  position: absolute;
  content: "";
  height: 4px;
  border-radius: 8px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00acdc;
}
