.price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: var(--margin-top-medium);

  width: var(--card-inside-width);
  line-height: var(--line-height-large);
}

.price__text {
  color: var(--p-light-color);
}

.price__value {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--p-dark-color);
}
