.price__label {
  align-self: center;
  color: var(--id-price-label-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-main);
  margin: 0;
}

.price__value {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-price);
  margin: 0;
}
