.product-card {
  display: flex;
  flex-direction: column;
  width: 198px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  text-align: left;
}

.product-card__picture-imac {
  width: 160px;
  height: 134px;
  padding: 33px 16px 20px;
}

.product-card__description {
  font-style: bold;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
  margin: 0;
  padding: 0 16px;
}

.product-card__code {
  font-weight: 400px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin: 4px 0;
  padding: 0 16px;
}
