.product-container__cards {
  color: var(--cards-main-color);
}

.product-container__card {
  flex: 1 0 21%;
  max-width: var(--card-width);
  max-height: var(--card-height);
  border: 0.5px solid #e5e5e5;
  border-radius: 5px;
}

.product-container__card-pic {
  width: 160px;
  height: 134px;
  display: block;
  margin: 32px auto 40px;
}

.product-container__card-title {
  font-weight: 500;
  line-height: 18px;
  padding: var(--card-padding);
  margin: 0;
}

.product-container__card-product-code {
  font-size: var(--font-size-product-code-desc);
  font-weight: 400px;
  color: #616070;
  padding: var(--card-padding);
  margin-top: 4px;
  margin-bottom: 0;
}
