.product {
  padding: 32px 16px 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product__image {
  margin-bottom: 40px;

  width: 160px;
  height: 134px;
  align-self: center;
}

.product__description {
  margin: 0 0 4px;
  height: 36px;

  align-self: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}

.product__code {
  margin: 0 0 16px;

  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.product__reviews-wrapper {
  margin: 0 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.product__price-wrapper {
  margin: 0 0 16px;

  display: flex;
  justify-content: space-between;
}

.product__price {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.product__price-value {
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.product__buy-button {
  width: 166px;
  height: 40px;

  border: 1px solid transparent;
  border-radius: 5px;
  background: #00acdc;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.product__buy-button:hover {
  color: #00acdc;
  border-color: #00acdc;
  background-color: #fff;
}
