.product-price-container__pricetag {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding: var(--card-padding);
}

.product-price-container__price {
  align-self: center;
  color: #616070;
  font-weight: 400px;
}

.product-price-container__amount {
  font-weight: 700px;
  font-size: 16px;
}
