.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.rating__stars {
  display: flex;
}

.rating__rating-stars-4 {
  background-image: url(../images/star-active.svg);
}

.rating__rating-stars-1 {
  background-image: url(../images/star.svg);
}

.rating__rating-stars-4,
.rating__rating-stars-1 {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.rating__text-reviews {
  font-style: bold;
  font-weight: 400px;
  font-size: 10px;
  line-height: 14px;
}
