.review {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: var(--margin-top-small);

  width: var(--card-inside-width);

  line-height: var(--line-height-small);
}

.review__text {
  display: flex;

  font-size: var(--font-size-small);
  color: var(--p-dark-color);
}
