.stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}


.stars__stars {
  display: flex;
}

.stars__star,
.stars__star {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}


.stars__stars :nth-child(-n+4) {
  background-image: url(../images/star-active.svg);
}

.stars__stars :nth-child(5) {
  background-image: url(../images/star.svg);
}

.stars__text-reviews {
  font-style: bold;
  font-weight: 400px;
  font-size: 10px;
  line-height: 14px;
}
