.tittle1 {
  font-weight: 500;
  font-size: var(--font-mid);
  line-height: var(--line-big);

  color: var(--color-dark-blue);
  margin-top: 40px;

  margin-bottom: 0;
}

.tittle2 {
  font-weight: var(--font-weight-small);
  font-size: var(--font-small);
  line-height: var(--line-small);

  color: var( --color-gray);
  margin-top: 4px;

  margin-bottom: 16px;
}
