.product-button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: var(--button-color);
  height: 40px;
  border-radius: 5px;
}

.product-button:hover {
  color: var(--button-color);
  background-color: #fff;
  border: 1px solid var(--button-color);
}
