.button {
  display: flex;
  justify-content: center;
  align-items: center;

}

a {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: var(--min-section-gap);
  padding-left: var(--min-section-gap);
  padding-right: var(--min-section-gap);
  padding-bottom: var(--min-section-gap);
}

.card__button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  background-color: var(--card-button-bluecolor);
  color: #fff;
  border: 0;
  margin: var(--card-margin);
  width: 166px;
  height: 40px;
  border-radius: var(  --card-border-radius);
}

.card:hover .card__button {
  background-color: #fff;
  border: var( --card-border) solid var(--card-button-bluecolor);
  border-radius: var(  --card-border-radius);
  font-weight: 700;
  color: var(--card-button-bluecolor);
}
