.card__buy-button {
  width: 166px;
  height: 40px;
  margin: 0 16px 16px;
  background: #00acdc;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.card__buy-button:hover {
  background-color: white;
  color: #00acdc;
  border: 1px solid #00acdc;
}
