.buy {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  width: 166px;
  height: 40px;

  border: 1px solid #00acdc;
  background: #00acdc;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.product__buy {
  margin-top: 16px;
}

.buy:hover {
  border: 1px solid #00acdc;
  background-color: #fff;
  color: #00acdc;
}
