.container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 16px;
  background: #ffff;
  width: 200px;
}

.card__img {
  display: flex;
  width: 160px;
  height: 134px;
  margin: 16px 3px 40px;
}

.card__product {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 4px;
}

.card__product-code {
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-bottom: 16px;
}

.card__review {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.card__review-count {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 14px;
}

.card__cost {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__cost-name {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__cost-value {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

.card__button {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #00acdc;
  border-radius: 5px;
  border: transparent;
  height: 40px;
  color: #ffff;
}

.card__button-hover {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #00acdc;
  color: #00acdc;

}
