.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imac {
  width: 160px;
}

.imac__image {
  width: 100%;
}
