.card__imac {
  height: 134px;
}

.card__title {
  padding-top: 40px;
  line-height: 18px;
  font-size: var(--mid-font-size);
  font-weight: 500;
}

.card__code {
  align-self: flex-start;
  padding: 4px 0 16px;
}

.card__rate {
  align-items: center;
}

.cost__price {
  font-size: var(--mid-font-size);
}

.cost__amount {
  font-size: 1rem;
  font-weight: 700;
}

.card__cost {
  padding: 24px 0 16px;
}

.card__rate ,
.card__cost {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cost__amount ,
.card__code {
  color: var(--color-secondary);
}

.card__code,
.rate__review {
  font-size: 10px;
}

.button-buy {
  background: #00acdc;
  border: none;
  border-radius: 5px;
  width: 166px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  text-align: center;
}

.button-buy:hover {
  color: #00acdc;
  background-color: white;
  border: 1px solid #00acdc;
}

.rate__stars {
  justify-content: space-between;
  width: 58%;
}
