.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  align-self: center;
  width: 160px;
  height: 134px;
  margin-bottom: 32px;
}

.card__description {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.card__product-code {
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin: 0;
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  line-height: 18px;
}

.card__price-tag {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 5px;
  width: auto;
  height: 40px;

  background-color: var(--blue-color);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white-color);
}

.card__button:hover {
  border-color: var(--blue-color);
  background-color: var(--white-color);
  color: var(--blue-color);
}

.card__count {
  font-size: 10px;
}

.card__review {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.card__price-label {
  margin: 0;
}
