.header {
  position: relative;
  /* 12px */
  font-size: var(--mid-font-size);
  /* 60px */
  height: 3.75rem;
}

.logo {
  height: 40px;
  /* center vertically */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
}

.nav {
  font-family: Roboto, sans-serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-of-type {
  margin: 0;
}

.nav__link {
  line-height: 3.75rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding: 23px 0;
}

.nav__link:hover,
.is-active {
  color: var(--blue);
}

.is-active {
  position: relative;
}

.is-active::after {
  content: "";
  background: var(--blue);
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px;
}
