@import "./stars.css";

.card {
  display: inline-flex;
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__dims {
  width: 200px;
  padding: 32px 16px 0;
}

.product__image {
  height: 134px;
  padding: 0 3px;
}

.product__name {
  margin-top: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #060b35;
}

.product__info {
  display: flex;
  justify-content: flex-start;
  margin-top: 4px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.product__price {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
  margin-top: 24px;
}

.product__char {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.product__price-value {
  font-size: 16px;
  font-weight: 700;
  color: #060b35;
}

.product__review {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
}

.product__review-style {
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}

.product__button {
  margin: 16px 0;
}

.product__button-link {
  display: inline-flex;
  padding: 12px 70px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #00acdc;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  border-radius: 5px;
}

.product__button-link:hover {
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}
