@import "./variables.css";

@import "./blocks/page.css";
@import "./blocks/header.css";
@import "./blocks/logo-link.css";
@import "./blocks/nav.css";

/* #region Header items */
.main-nav-list > :not(:first-child) {
  margin-left: 20px;
}

.main-nav-item {
  display: list-item;
  align-self: center;
}

.main-nav-item__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  padding: 23px 0;
}

.main-nav-item__link:hover {
  color: #00acdc;
}

.main-nav-item__link.is-active {
  color: #00acdc;
}

.main-nav-item__link.is-active::after {
  position: absolute;
  content: "";
  height: 4px;
  border-radius: 8px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #00acdc;
}

* {
  box-sizing: border-box;
}

.product-container__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 0 40px;
  color: var(--cards-main-color);
}

.product-container__card {
  flex: 1 0 21%;
  max-width: var(--card-width);
  max-height: var(--card-height);
  border: 1px solid #e5e5e5;
}

.product-container__card-pic {
  width: 160px;
  height: 134px;
  display: block;
  margin: 32px auto 40px;
}

.product-container__card-title {
  font-weight: 500;
  line-height: 18px;
  padding: var(--card-padding);
  margin: 0;
}

.product-container__card-product-code {
  font-size: var(--font-size-product-code-desc);
  font-weight: 400px;
  color: #616070;
  padding: var(--card-padding);
  margin-top: 4px;
  margin-bottom: 0;
}

.stars {
  display: flex;
}

.stars__container {
  padding: var(--card-padding);
  margin-top: 16px;

}

.stars__star {
  width: 16px;
  height: 16px;
  background-image: url("../images/star.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.stars:first-child {
  margin-left: 0;
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url("../images/star-active.svg");
}

.stars__reviews {
  padding-left: 16px;
  font-size: var(--font-size-product-code-desc);
  text-align: center;
  align-self: center;
}

.product-price-container__pricetag {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding: var(--card-padding);
}

.product-price-container__price {
  align-self: center;
  color: #616070;
  font-weight: 400px;
}

.product-price-container__amount {
  font-weight: 700px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container__buy-button {
  margin: 16px;
  background-color: #00acdc;
  border-radius: 5px;
  width: 166px;
  height: 40px;
  border: 1px solid var(--main-background-color);
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.button-container__buy-button:hover {
  background-color: #fff;
  color: var(--active-hover-color);
}
