* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
}

@import "./variables.css";
@import "./header.css";
@import "./stars.css";
@import "./cards.css";
@import "./cardElements.css";
