.price {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
  margin-top: 22px;
}

.price__text {
  color: #616070;
  margin: 0;
}

.price__dolars {
  font-size: 16px;
  margin: 0;
  font-weight: 700;
}
