.product-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  background: #fff;
}

.product-card__image {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.product-card__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--main-text-color);
  margin: 0 0 4px;
}

.product-card__code {
  font-size: 10px;
  font-weight: 400;
  color: var(--secondary-text-color);
  margin: 0 0 16.5px;
}

.product-card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 24px;
}

.product-card__reviews {
  font-size: 10px;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px;
  line-height: 18px;
}

.product-card__tag {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  color: var(--secondary-text-color);
}

.product-card__amount {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
  color: var(--main-text-color);
}

.product-card__button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 11px 0;
  border-radius: 5px;

  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;

  color: #fff;
  background-color: var(--button-blue-theme) ;
  border: 1px solid transparent;
}

.product-card__button:hover {
  background-color: #fff;
  color: var(--button-blue-theme);
  border-color: var(--button-blue-theme);
}
