.stars {
  display: flex;
}

.stars__star {
  margin: 0 6px 2px 2px;
  width: 12px;
  height: 12px;
  background: url("../images/star.svg");
  background-size: cover;
}

.stars__star:first-child {
  margin-left: 0;
}

.stars--1 :nth-child(1),
.stars--2 :nth-child(-n+2),
.stars--3 :nth-child(-n+3),
.stars--4 :nth-child(-n+4),
.stars--5 :nth-child(-n+5) {
  background-image: url("../images/star-active.svg");
}
