@import "./blocks/product-card.css";
@import "./blocks/stars.css";
@import "./blocks/rating.css";
@import "./blocks/price.css";
@import "./blocks/button.css";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
