@import "./stars.css";
@import "./block.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.card {
  --color-blue: #00acdc;
  --font-color-light: #616070;
  --font-large: 16px;
  --font-small: 10px;
}

.card__img {
  box-sizing: content-box;
  padding: 32px 3px 40px;
  height: 134px;
  width: 160px;
}

.card__product-name {
  font-weight: 500;
  line-height: 18px;
  margin: 0 0 4px;
}

.card__product-code {
  color: var(--font-color-light);
  font-size: var(--font-small);
  margin: 0 0 16px;
}

.card__reviews {
  font-size: var(--font-small);
  margin: 0;
}

.rating__star-block {
  margin-bottom: 24px;
}

.price__word {
  color: var(--font-color-light);
  margin: 0;
}

.price__number {
  font-weight: 700;
  font-size: var(--font-large);
  margin: 0;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__buy-btn {
  background: var(--color-blue);
  border: 1px var(--color-blue) solid;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-bottom: 16px;
  text-align: center;
  text-decoration: none;
  width: 166px;
}

.card__buy-btn:hover {
  background-color: white;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}
