:root {
  --card-max-width: 200px;
  --card-border: 1px;
  --card-border-radius: 5px;
  --min-section-gap: 16px;
  --min-section-top-gap: 16px;
  --card-header-top-gap: 32px;
  --card-margin: 0;
  --card-padding: 0;
  --card-padding-top: 40px;
  --card-image-height: 134px;
  --card-font-size: 12px;
  --cardfont-color: #060b35;
  --card-button-bluecolor: #00acdc;
  --card-description-grey: #616070;
  --card-background-color: #fff;
  --border-color: #f3f3f3;
}
