.button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--button-color);
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 11px 0;

  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: var(--card-cta-font-size);
  font-weight: 700;
}

.button:hover {
  color: var(--button-color);
  background-color: #fff;
  border-color: var(--button-color);
}
