.cards {
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  font-weight: 500;
}

.cards__imacImage {
  display: block;
  margin: 0 auto 40px;
  width: 160px;
  height: 134px;
}

.cards__productName {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #060b35;
}

.cards__productCode {
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #616070;
}

.cards__stars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 24px;
}

.cards__stars-text {
  font-size: 10px;
  font-weight: 400;
}

.cards__price {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 16px;
}

.cards__price-label {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #616070;
}

.cards__price-amount {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.cards__button-buy {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #00acdc;

  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.cards__button-buy:hover {
  color: #00acdc;
  border-color: #00acdc;
  background-color: #fff;
}
