.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 18px;
  font-size: 12px;
  color: var(--secondary-color);
}

.price__text {
  font-size: 12px;
  color: var(--secondary-color);
  margin: 0;
}

.card__price {
  margin-top: 24px;
}

.price__number {
  font-size: var(--card-price-font-size);
  color: var(--primary-color);
  font-weight: 700;
  margin: 0;
}
