.card-button {
  width: 100%;
  padding: 0 16px 16px;
}

.card-button-link {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0;
  color: var(--color-white);
  background-color: var(--color-tertiary);
}

.card-button-link:hover {
  color: var(--color-tertiary);
  background-color: var(--color-white);
  border: 1px solid var(--color-tertiary);
}
