.product-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars {
  display: flex;
  padding: 0;
  list-style: none;
}

.product-rating__stars {
  margin: 0;
}

.stars__star {
  width: 16px;
  height: 16px;

  background-image: url(images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars--1 .stars__star:nth-child(-n+1),
.stars--2 .stars__star:nth-child(-n+2),
.stars--3 .stars__star:nth-child(-n+3),
.stars--4 .stars__star:nth-child(-n+4),
.stars--5 .stars__star:nth-child(n) {
  background-image: url(images/star-active.svg);
}

.product-rating__review {
  line-height: 16px;
  color: var(--color-primary);
}

.product-info__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 16px;
}

.product-info__price-text {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-secondary);
}

.product-info__price-tag {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--color-primary);
}
