.product-info {
  width: 100%;
  padding: 0 16px;
}

.product-info__title {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--color-primary);
}

p {
  margin: 0;
}

.product-info__code,
.product-rating__review {
  font-size: 10px;
}

.product-info__code,
.product-rating__review,
.product-info__price-text {
  font-weight: 400;
}

.product-info__code {
  margin: 4px 0 16px;
  line-height: 14px;
  color: var(--color-secondary);
}
