@import "./stars-style.css";

* {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.card__img {
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.card__description {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.card__title {
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: 500;
  color: #060b35 ;
  width: 166px;
  line-height: 18px;
}

.card__product-code {
  font-size: 10px;
  font-weight: 400;
  color: #616070;
  margin-bottom: 16px;
}

.card__rating {
  display: flex;
  flex-direction: row;
  gap: 19px;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 24px;
}

.card__reviews {
  width: 53px;
  font-weight: 400;
  font-size: 10px;
  color: #060b35;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__price-heading {
  font-size: 12px;
  font-weight: 400;
  color: #616070;
}

.card__price-value {
  font-weight: 700;
  font-size: 16px;
  color: #060b35;
}

.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00acdc;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.card__buy:hover {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
}
