* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
}

.item {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__image {
  margin-bottom: 40px;

  width: 160px;
  height: 134px;
}

.item__description {
  margin: 0;
  margin-bottom: 4px;

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #060b35;
}

.item__code {
  margin: 0 0 16px;

  align-self: flex-start;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #616070;
}

.item__reviews {
  margin-bottom: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 166px;
  height: 16px;
}

.stars {
  display: flex;
}

.stars__star {
  margin: 2px 6px 2px 2px;

  width: 12px;
  height: 12px;
  background-image: url(images/star.svg);
  background-position: cover;
}

.stars--1 :nth-child(1),
.stars--2 :nth-child(-n+2),
.stars--3 :nth-child(-n+3),
.stars--4 :nth-child(-n+4),
.stars--5 :nth-child(-n+5) {
  background-image: url(images/star-active.svg);
}

.reviews__counter {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #060b35;
}

.item__price {
  margin-bottom: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 166px;
  line-height: 18px;
}

.price__text {
  margin: 0;

  font-size: 12px;
  font-weight: 400;
  color: #616070;
}

.price__numbers {
  margin: 0;

  font-size: 16px;
  font-weight: 700;
  color: #060b35;
}

.item__buy {
  border: 1px solid transparent;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #00acdc;
}

.item__buy:hover {
  border-color: #00acdc;

  color: #00acdc;
  background-color: #fff;
}
