* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.product {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  max-width: 200px;
  width: 100%;
  padding: 32px 16px 16px;
  background: #fff;
  color: #060b35;
}

.product_img {
  width: 160px;
  height: 134px;
  display: block;
  margin: 0 auto 40px;
}

.product_title {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
}

.product_code {
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-bottom: 16px;
}

.product_feedback {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url("./images/star.svg");
  height: 12px;
  width: 13px;
  margin: 2px 5px 2px 2px;
  background-position: center;
}

.stars--1 .stars__star:nth-child(1),
.stars--2 .stars__star:nth-child(-n+2),
.stars--3 .stars__star:nth-child(-n+3),
.stars--4 .stars__star:nth-child(-n+4),
.stars--5 .stars__star:nth-child(-n+5) {
  background-image: url("./images/star-active.svg");
}

.product_reviews {
  font-size: 10px;
  line-height: 14px;
}

.product_price {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product_price_title {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  color: #616070;
}

.product_price_amount {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.buy {
  background-color: #00acdc;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 11px 10px;
  border: 1px solid transparent;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.buy:hover {
  background-color: #fff;
  color: #00acdc;
  border-color: #00acdc;
}
