html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.card {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  padding: 32px 16px 16px;
  background: fff;
}

.card__image {
  display: block;
  margin: 0 auto 40px;
  width: 160px;
  height: 134px;
}

.card__title {
  margin: 0 0 4px;
  width: 166px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;

  color: #060b35;
}

.card__productCode {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  margin-bottom: 16px;

  color: #616070;
}

.card__review {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.stars {
  display: flex;
}

.stars__star {
  height: 16px;
  width: 16px;
  margin-right: 4px;

  background-image: url(./images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars--1 .stars__star:nth-child(-n+1),
.stars--2 .stars__star:nth-child(-n+2),
.stars--3 .stars__star:nth-child(-n+3),
.stars--4 .stars__star:nth-child(-n+4),
.stars--5 .stars__star:nth-child(-n+5) {
  background-image: url(./images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card__review-count {
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;

  color: #060b35;
}

.stars:last-child {
  margin-right: 0;
}

.card__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
}

.card__price-label {
  font-weight: 400;
  line-height: 18px;
  font-size: 12px;

  color: #616070;
}

.card__price {
  line-height: 18px;
  font-weight: bold;
  font-size: 16px;

  color: #060b35;
}

.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  height: 40px;
  border: 1px solid #00acdc;
  border-radius: 5px;

  background-color: #00acdc;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.card__buy:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
  border-radius: 5px;
  color: #00acdc;
}
