/* #region Normalize */

body {
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;

}
/* #endregion */

.card {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card__product-img {
  width: 160px;
  height: 134px;
  margin-top: 32px;
  margin-left: 19px;
}

/* #region Product-Title & Product-Code */

.card__product-title {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
  margin-top: 40px;
  margin-left: 16px;
  margin-right: 16px;
}

.card__product-code {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-top: 4px;
  margin-left: 16px;
  margin-bottom: 16px;
}

/* #endregion */

/* #region Stars_ReviewCount */

.stars {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.stars__star {
  background-image: url(images/star.svg);
  height: 16px;
  width: 16px;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:first-child {
  margin-left: 0;
}

.stars--1 > .stars__star:nth-child(-n + 1),
.stars--2 > .stars__star:nth-child(-n + 2),
.stars--3 > .stars__star:nth-child(-n + 3),
.stars--4 > .stars__star:nth-child(-n + 4),
.stars--5 > .stars__star:nth-child(-n + 5) {
  background-image: url(./images/star-active.svg);
}

.stars__reviews-text {
  display: flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
  align-items: right;
  right: 16px;
}

/* #endregion */

/* #region Priceline */
.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.card__price-text {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__price-USD {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

/* #endregion */

/* #region Button */

.card__buy-button {
  font-family: "Roboto", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background: #00acdc;
  border-radius: 5px;
  height: 40px;
  width: 166px;
  color: #fff;
  border: none;
  margin: 0 16px 16px;
}

.card__buy-button:hover {
  box-sizing: border-box;
  background: #fff;
  color: #00acdc;
  border-color: #00acdc;
  border: solid #00acdc 1px;
}

/* #endregion */
