:root {
  --font--bold: 700;
  --font--medium: 500;
  --font--regular: 400;
  --color--main: #060b35;
  --color--secondary: #616070;
  --color--accent: #00acdc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
}

.card__item-photo {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.card__item-title {
  font-size: 12px;
  font-weight: var(--font--medium);
  line-height: 18px;
  color: var(--color--main);
  margin: 0 0 5px;
}

.card__item-code {
  font-size: 10px;
  font-weight: var(--font--regular);
  color: var(--color--secondary);
  margin: 0 0 18px;
}

.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__stars {
  display: flex;
  margin: 0;
}

.stars__star {
  background-image: url(./images/star.svg);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  background-position: center;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars--1 .stars__star:first-child,
.stars--2 .stars__star:nth-child(-n+2),
.stars--3 .stars__star:nth-child(-n+3),
.stars--4 .stars__star:nth-child(-n+4),
.stars--5 .stars__star:nth-child(-n+5) {
  background-image: url(./images/star-active.svg);
}

.reviews__review {
  font-size: 10px;
  font-weight: var(--font--regular);
  color: var(--color--main);
  margin: 0;
}

.card__item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 23px 0 16px;
}

.card__price-title {
  font-size: 12px;
  font-weight: var(--font--regular);
  color: var(--color--secondary);
  margin: 0;
}

.card__price {
  font-size: 16px;
  font-weight: var(--font--bold);
  color: var(--color--main);
  margin: 0;
}

.card__btn-link {
  display: flex;
  margin: auto;
  font-size: 14px;
  font-weight: var(--font--bold);
  text-decoration: none;
  color: #fff;
  background-color: var(--color--accent);
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 12px 69px;
}

.card__btn-link:hover {
  color: var(--color--accent);
  background-color: #fff;
  border: 1px solid var(--color--accent);
}
