* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;

  padding: 32px 16px 16px;

  width: 200px;
  box-sizing: border-box;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  width: 160px;
  height: 134px;
  margin: 0 auto;
  /* margin: 32px 19px 40px; */
  /* margin-top: 16px; */
}

.card__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  width: 166px;
  height: 36px;
  color: #060b35;
  margin-top: 40px;
  /* margin: 0 16px;   */
}

.card__productCode {
  font-weight: 400;
  font-size: 10px;

  color: #616070;

  /* margin-left: 16px; */
  margin-top: 4px;
}

.reviewSection {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.reviewSection--Card {
  /* margin: 16px 16px 0; */
  margin-top: 16px;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url(./images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
  height: 16px;
  width: 16px;
}

.stars--1 .stars__star:nth-child(-n+1),
.stars--2 .stars__star:nth-child(-n+2),
.stars--3 .stars__star:nth-child(-n+3),
.stars--4 .stars__star:nth-child(-n+4),
.stars--5 .stars__star:nth-child(-n+5) {
  background-image: url(./images/star-active.svg);
}

.reviewSection__reviewRate {
  font-weight: 400;
  font-size: 10px;
  color: #060b35;
}

.stars .stars__star:nth-child(5) {
  background-image: url(./images/star.svg);
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price--Card {
  /* margin: 24px 16px 0; */
  margin-top: 24px;
}

.price__Text {
  font-weight: 400;
  font-size: 12px;

  color: #616070;
}

.price__Number {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__buy-button {
  width: 166px;
  height: 40px;
  /* margin: 16px; */
  /* margin: 16px 0; */
  margin-top: 16px;
  background: #00acdc;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.card__buy-button:hover {
  background-color: white;
  color: #00acdc;
  border: 1px solid #00acdc;
  cursor: pointer;
}
