@import "./all.css";
@import "./body.css";
@import "./mainCard.css";
@import "./image.css";
@import "./description.css";
@import "./review.css";
@import "./price.css";
@import "./buy.css";

/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #060b35;
}

.mainCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
}

.mainCard__image {
  width: 160px;
  height: 134px;
}

.mainCard__model {
  align-self: center;
  margin: 40px auto 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.mainCard__code {
  align-self: flex-start;
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.review {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 16px;
  margin-top: 16px;
}

.review__text {
  text-align: center;
  font-size: 10px;
  line-height: 14px;
}

.star {
  display: flex;
  align-self: flex-start;
}

.star__star {
  display: inline-block;
  margin: 2px 6px 2px 2px;
  height: 12px;
  width: 12px;
  background-image: url(images/star.svg);
}

.stars--1 .star__star:nth-child(-n+1),
.stars--2 .star__star:nth-child(-n+2),
.stars--3 .star__star:nth-child(-n+3),
.stars--4 .star__star:nth-child(-n+4),
.stars--5 .star__star:nth-child(-n+5) {
  background-image: url("images/star-active.svg");
}

.mainCard__price {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 18px;
  margin-top: 24px;
}

.mainCard__priceWord {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #616070;
}

.mainCard__priceDigit {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.mainCard__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  border-radius: 5px;
  width: 166px;
  padding: 11px 0;
  border: 1px solid transparent;
  background: rgba(0, 172, 220, 1);
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.mainCard__buy:hover {
  border-color: rgba(0, 172, 220, 1);
  background-color: #fff;
  color: rgba(0, 172, 220, 1);
} */
