:root {
  --border-color: #f3f3f3;
  --border-radius: 5px;

  --primary-color: #060b35;
  --secondary-color: #616070;

  --button-color: #00acdc;
  --button-text-color: #fff;

  --card-title-font-size: 12px;
  --card-secondary-font-size: 10px;
  --card-cta-font-size: 14px;
  --card-price-font-size: 16px;

  --card-width: 200px;
}
